.expansion {
    margin-left: 20%;
    margin-right: 20%;
}

::ng-deep .mat-expansion-panel {
    background-color: rgb(223, 221, 221);
}

.no-events {
    pointer-events: none;
}

.default {
    pointer-events: auto;
}

.li:hover {
    background-color: lightgreen;
}

::ng-deep .style-success {
    color: hotpink;
}
